<div class="form">
    <h2>LOGIN</h2>
    <div class="inputEmail">
        <input type="Email" name="" id="mail" placeholder="Email" #email required>
    </div>

    <div class="inputPass">
        <input type="password" name="" id="senha" placeholder="Senha" #senha  required>
    </div>
    <div class="remenber">
        <mat-checkbox>Lembrar-me</mat-checkbox>
    </div>
    <div>
        <button mat-button class="btnLogin" (click)="logar(email,senha)">LOGIN</button>
    </div>
    <div>
        <a href="cadastrar">Não tem uma conta ? , cadastre-se aqui</a>
    </div>
</div>