<div class="form">
    <h2>LOGIN</h2>
    <div class="inputEmail">
        <input type="Email" name="" id="" placeholder="Email" required>
    </div>

    <div class="inputPass">
        <input type="password" name="" id="" placeholder="Senha" required>
    </div>
    <div class="remenber">
        <mat-checkbox>Lembrar-me</mat-checkbox>
    </div>
    <div>
        <button mat-button class="btnLogin">LOGIN</button>
    </div>
    <div>
        <a href="cadastro">Não tem uma conta ? , cadastre-se aqui</a>
    </div>
</div>