.serachdivDIV{

    width: 30%;
    margin-left: calc(50% - 360px);
    position: static;
    button{
        margin-right: 5px;
        
    }
    
   
}
.btnEntrar{
    margin-left: 5px;
    background-color:#5cb85c;
}
.cor{
    background-color: rgb(97, 42, 146);
    color: white;
    width: 100%;
    margin-top: -10px;
    margin-left: 0px;
    
}
.logo{
    margin-left: 5%;
    position: absolute;
}
.hide{
    display: none;
}
label{
    margin-right: 15px;
    display: inline-block;
    
}
.btnSair{
    right: 50px;
    position: absolute;
    background-color: red;
}
/*
.serchDiv{
    width: auto;
    padding: 10px;
    background-color: blue;
    height: 60px;
    input[type=search]{
        border: 0;
        background-color: blue;
        height: 30px;
    }
    border-radius: 5px;
}*/
input[type=search] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    height: 40px;
    font-size: 16px;
    background-color: white;
    //background-image: url('../../assets/download.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  @media only screen and (max-width: 1024px) {
    .serachdivDIV{
        margin-left: 0px;
        width: 100%;
    }
    .logo{
        top: 0px;
        left: 0px;
        width: 100%;
        height: 20px;
    }
    .btnEntrar{
        position: absolute;
        background-color:#5cb85c;
        top: 0;
        right: 40px;
        
    }
    input[type=search] {
        left: 0px;
        width: 60%;
    }
    .pes{
        position: absolute;
        right: 40px;
    }
    .cor{
        height: 158px;
    }
  }
