.divProdutos{
    width: 90%;
    margin-left: calc(50% - 45%);
    margin-top: 2%;
    background-color: rgb(245, 245, 245);
    height: auto;
    padding: 15px;
    border-radius: 8px;}
  .cent{
      text-align: center;
  }

  @media only screen and (max-width: 1024px) {
    .divProdutos{
        margin-left:0px;
    }
    .cent{
      width: 80%;
      text-align: center;
    }
  }