.divProdutos{
    width: 90%;
    margin-left: calc(50% - 45%);
    margin-top: 2%;
    background-color: rgb(245, 245, 245);
    height: auto;
    padding: 15px;
    border-radius: 8px;}
  .cent{
      text-align: center;
  }
  ul{
    display: inline;
    list-style:none;
  }
  li{
    display: inline;
    padding-right: 20px;
  }
  nav{
    padding:0px;
    margin:0px;
    margin-top: 20px;
    list-style:none;
    padding: 0px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    height: 50px;
    text-align: center;

  }

  @media only screen and (max-width: 1024px) {
    .divProdutos{
        margin-left:0px;
    }
    .cent{
      width: 80%;
      text-align: center;
    }
  }