<mat-tab-group class="test">
    <mat-tab label="Cadastrar">
        <div class="form">
            <h1>Categoria</h1>
            <div class="row">
                <div class="inputEmail">
                    <input type="text" id="lname" name="lastname" placeholder="Nome da categoria" #catNome>
                </div>
            </div>
            <div class="row">
                    <mat-form-field class="s">
                            <mat-label>Categoria pai</mat-label>
                            <mat-select  [(value)]="categoria">
                                <mat-option *ngFor="let a of categorias" [value]="a.id">
                                {{a.descricao}}
                                </mat-option>
                                </mat-select>
                            
                    </mat-form-field>
            </div>
            <div class="col-75">
                <button mat-button class="btnLogin" (click)="cadastrarCategoria(catNome)">Cadastrar</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="listar">
        <div class="listaProdutos">
            <table>
                <tr>
                    <th>Nome</th>
                    <th>Pai</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
                <tr *ngFor="let c of categorias">
                    <td>{{c.descricao}}</td>
                    <td>{{checkNulo(c)}}</td>
                    <td><button mat-button class="btnEdit"
                            (click)="editar(c.id)">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                        </button>
                    </td>
                    <td>
                        <button mat-button class="btnExcluir" (click)="deletar(c.id)">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>