<div class="form">
    <h2>Cadastrar</h2>
    <div class="inputEmail">
        <input type="Email" name="" id="" placeholder="Email"  #email required>
    </div>

    <div class="inputPass">
        <input type="password" name="" id="" placeholder="Senha" #senha required>
    </div>
    <div class="inputEmail">
        <input type="text" name="" id="" placeholder="Nome da empresa" #nomeEmpresa required>
    </div>
    <div class="inputEmail">
        <input type="text" name="" id="" placeholder="Link do site" #linkSite required>
    </div>
    <div>
        <button mat-button class="btnLogin" (click)="cadastrar(email,senha,nomeEmpresa,linkSite)">Cadastrar</button>
    </div>
    <div>
        
    </div>
</div>