.topProdExample{
    height: 400px;
    background-color: white;
    color: black;
}

.othersProd{
    padding: 20px;
    height: 600px;
    background-color: rgb(239, 241, 238);
}
.bottomProdExample{
    padding: 10px;
    margin-top: 1px;
    color: black;
    height: auto;
    background-color: white;
    width: 60%;
    margin-left: 20%;
    border-radius: 2px;
    
}
.btnIrLoja{
    background-color: #5cb85c;
}