<app-top-bar-menu></app-top-bar-menu>
<div class="topProdExample">
    <div class="prodImage">

    </div>
    <span class="ProdNome">

    </span>
    <span class="proPreco">

    </span>
</div>
<div class="othersProd">
    <div class="bottomProdExample">
        <div class="Item">
            <span class="ImgProdDiv">
                <img class="img" src="../../assets/download (1).png" alt="Imagem do produto" class="imgProd"/>
            </span>
            <span class="ImgLojaDiv">
                <img class="img" src="../../assets/download (1).png" alt="Imagem da loja" class="imgProd"/>
            </span>
            <div class="a">
                
            <div class="preco">
                <label> A vista R$ 00.00</label>
             </div>
             <div class="btnIrLojaSpan">
                 <button mat-button class="btnIrLoja">Ir para a Loja</button>
             </div>
             <hr>
            </div>
        </div>

        
    </div>
</div>