<app-top-bar-menu></app-top-bar-menu>
<div class="topProdExample">
    <div class="prodImage">

    </div>
    <span class="ProdNome">

    </span>
    <span class="proPreco">

    </span>
</div>
<div class="othersProd">
    <div class="bottomProdExample">
        <div class="Item">
            <span class="ImgProdDiv">
                <img src="" alt="Imagem do produto">
            </span>
            <span class="ImgLojaDiv">
                <img src="" alt="Logo do site">
            </span>
            <span class="preco">
                <label>A vista R$ 00.00</label>
            </span>
            <span class="btnIrLojaSpan">
                <button mat-button class="btnIrLoja">Ir para a Loja</button>
            </span>
            <hr>
        </div>

        
    </div>
</div>